// Ссылка и логотип академии
.academy {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: $special-grey-700;
  text-decoration: none;
  word-break: break-word;

  @media (max-width: $width-max-mobile) {
    justify-content: space-between;
    margin-left: -5px;
  }

  @media (min-width: $width-tablet) {
    justify-content: end;
  }

  &:active {
    opacity: 0.3;
  }
}

.academy__logo {
  color: $special-grey-600;
  flex-shrink: 0;
  margin-left: 22px;

  .academy:hover & {
    color: $basic-green;
  }
}
