// Ссылка и логотип академии
.academy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: $special-grey-700;
  text-decoration: none;

  @media (max-width: $width-max-mobile) {
    margin-left: -5px;
    }

  &:active {
    opacity: 0.3;
  }
}

.academy__logo {
  color: $special-grey-600;

  @media (min-width: $width-tablet) {
    margin-left: 22px;
  }

  .academy:hover & {
    color: $basic-green;
  }
}
