.add-products__wrapper {
  display: grid;

  @media (max-width: $width-max-mobile) {
    row-gap: 35px;
  }

  @media (min-width: $width-tablet) {
    row-gap: 68px;
  }

  @media (min-width: $width-pre-desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    // При переполнении колонки по высоте соседние
    // не растягиваются следом и остаются в верхней позиции.
    align-items: start;
  }
}

.add-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $width-tablet) {
    border: 1px solid $special-grey-250;
  }

  @media (min-width: $width-pre-desktop) {
    display: grid;
    border: 0;
    grid-column: 1/ span 3;
  }
}

.add-products__item {
  border-top: 1px solid $special-grey-250;

  @media (max-width: $width-max-mobile) {
    padding: 12px 0 18px;
  }

  @media (min-width: $width-tablet) {
    padding: 26px 38px 27px;
  }

  @media (min-width: $width-pre-desktop) {
    padding: 15px 0 16px;
  }

  &:first-of-type {
    @media (min-width: $width-tablet) {
      border: 0;
    }

    @media (min-width: $width-pre-desktop) {
      border-top: 1px solid $special-grey-250;
    }
  }

  &:last-of-type {
    @media (max-width: $width-max-mobile) {
      padding-bottom: 19px;
      border-bottom: 1px solid $special-grey-250;
    }

    @media (min-width: $width-pre-desktop) {
      border-bottom: 1px solid $special-grey-250;
    }
  }
}

.add-products__title-wrapper {
  position: relative;

  @media (max-width: $width-max-mobile) {
    margin-bottom: 36px;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 80px;
  }
}
