.card {
  display: grid;
  width: $width-mobile-content;
  height: 100%;

  @media (max-width: $width-max-mobile) {
    margin: 0 auto;

    grid-template-areas: "image title"
      "image list"
      "button button";
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $width-tablet) {
    grid-template-rows: 242px min-content min-content;
    width: auto;
    padding: 0 38px 39px;
  }

  @media (min-width: $width-pre-desktop) {
    grid-template-rows: 244px min-content min-content;
    padding: 0 39px 40px;
  }
}

.card--more {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 158px;
  text-align: center;

  @media (min-width: $width-tablet) {
    padding: 0 38px 39px;
    background-color: initial;
    // Если border, то он будет сдвигать вниз на 2px заголовок --more карточки, по отношению к заголовкам основных карточек.
    outline: 2px solid $basic-grey;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 30px;
    height: 30px;
    // background-color: $special-grey-200;
    background: url("../img/icons/ico-plus-sm.svg") no-repeat center;

    @media (min-width: $width-tablet) {
      top: 52px;
      width: 60px;
      height: 60px;
      background: url("../img/icons/ico-plus-big.svg") no-repeat center;
    }
  }
}

.card__title {
  margin: 0;
  font-family: $font-title;
  font-weight: 400;
  text-transform: uppercase;
  color: $special-grey-800;
  word-break: break-word;

  @media (max-width: $width-max-mobile) {
    width: 80px;
    grid-area: title;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $width-tablet) {
    width: 160px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $width-pre-desktop) {
    line-height: 21px;
  }

  &--more {
    width: auto;
    grid-area: initial;

    @media (max-width: $width-max-mobile) {
      margin: 53px 0 8px;
    }

    @media (min-width: $width-tablet) {
      line-height: 22px;
    }

    // Magic digit: 161px (верхний маргин заголовка --more-карточки)
    // 242 px (высота фото в основной карточке) – 81px (верхний отступ --more карточки).
    // P.S> --more карточка ниже на 81px, чем основные, но ее заголовок должен быть на том же уровне что и в основных.
    // Поэтому и считаем его отступ по выше указанному уравнению.
    margin: 161px 0 23px;
  }
}

.card__image-wrapper {
  display: flex;
  justify-content: center;

  @media (max-width: $width-max-mobile) {
    grid-area: image;
    min-width: 140px;
  }

  @media (min-width: $width-tablet) {
    grid-row: 1;
    padding-bottom: 34px;
    height: 242px;
  }

  @media (min-width: $width-pre-desktop) {
    height: 244px;
    padding-bottom: 43px;
  }
}

.card__picture {
  display: flex;
}

.card__picture,
.card__image {
  width: auto;
  align-self: end;
}

.card__link {
  text-decoration: none;

  @media (max-width: $width-max-mobile) {
    grid-area: title;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 20px;
  }

  @media (min-width: $width-pre-desktop) {
    margin-bottom: 23px;
  }
}

.card__list {
  display: grid;
  margin: 0;
  line-height: 16px;
  color: $special-grey-700;

  @media (max-width: $width-max-mobile) {
    grid-area: list;
    row-gap: 0;
    font-size: 12px;
    margin-bottom: 9px;
  }

  @media (min-width: $width-tablet) {
    row-gap: 7px;
    font-size: 16px;
  }
}

.card__list-row {
  display: flex;
  justify-content: space-between;
  column-gap: 8px;

  @media (min-width: $width-tablet) {
    padding-bottom: 8px;
    border-bottom: 1px solid $special-grey-250;
  }
}

.card__term {
  word-break: break-word;

  &--more {
    // grid-area: initial;
    margin: 0;
    font-size: 12px;
    line-height: 16px;

    @media (min-width: $width-tablet) {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.card__desc {
  margin: 0;
  text-align: right;
  min-width: min-content;
  // flex-shrink: 0;
}

.card__button {
  height: fit-content;
  align-self: end;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;

  @media (max-width: $width-max-mobile) {
    grid-area: button;
    margin-top: 13px;
  }

  @media (min-width: $width-tablet) {
    margin-top: 33px;
  }

  &--more {
    // grid-area: initial;\
    margin-top: auto;
    width: 100%;
  }
}
