.card-row {
  @media (min-width: $width-tablet) and (max-width: ($width-pre-desktop - 1px)) {
  // @media (min-width: $width-tablet) and (max-width: ($width-pre-desktop)) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
  }

  @media (min-width: $width-pre-desktop) {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: (245px + 80px) (245px + 80px) 245px;
    align-items: center;
  }
}

.card-row__title {
  margin: 0;
  font-family: $font-title;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;

  @media (max-width: $width-max-mobile) {
    margin-bottom: 13px;
  }
}

.card-row__list {
  display: flex;
  margin: 0;
  line-height: 1;
  color: $special-grey-700;

  @media (max-width: $width-max-mobile) {
    justify-content: space-between;
    margin-bottom: 15px;
  }
}

.card-row__desc {
  margin: 0;
}

.card-row__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
  width: 100%;
}
