.card-row {
  display: grid;
  align-items: baseline;

  @media (min-width: $width-tablet) and (max-width: ($width-pre-desktop - 1px)) {
    // @media (min-width: $width-tablet) and (max-width: ($width-pre-desktop)) {
    // flex-wrap: wrap;
    // justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 21px;
  }

  @media (min-width: $width-pre-desktop) {
    // display: grid;
    // grid-auto-flow: column;
    grid-template-columns: (245px + 80px) (245px + 80px) 245px;
  }
}

.card-row__title {
  margin: 0;
  font-family: $font-title;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  word-break: break-word;

  @media (max-width: $width-max-mobile) {
    font-size: 16px;
    margin-bottom: 13px;
  }

  @media (min-width: $width-tablet) {
    font-size: 20px;
  }

  @media (min-width: $width-pre-desktop) {
    margin-right: 80px;
  }
}

.card-row__list {
  margin: 0;
  color: $special-grey-700;

  @media (max-width: $width-max-mobile) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  @media (min-width: $width-tablet) {
    display: grid;
    text-align: right;
    // 132 + 60 - колонка сетки + расстояние между колонками
    grid-template-columns: (132px + 60px) 1fr;
    column-gap: 12px;
  }

  @media (min-width: $width-pre-desktop) {
    text-align: initial;
    grid-template-columns: 245px 1fr;
  }
}

.card-row__desc {
  margin: 0;
  line-height: 14px;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $width-pre-desktop) {
    margin-right: 20px;
  }
}

.card-row__button {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $width-tablet) and (max-width: ($width-pre-desktop - 1px)) {
    grid-column: 1 / -1;
  }
}
