.catalogues__wrapper {
  @media (min-width: $width-pre-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.catalogues__item {
  background-color: $basic-grey;

  @media (max-width: $width-max-mobile) {
    padding: 30px 20px 20px;
  }

  @media (min-width: $width-tablet) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 324px;
    padding: 77px 0 53px 52px;

    &::before {
      position: absolute;
      top: 92px;
      right: 62px;
      content: "";
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $basic-green;
    }
  }

  @media (min-width: $width-pre-desktop) {
    display: initial;
    position: initial;
    padding: 77px 52px 55px 52px;
  }

  &+& {
    @media (max-width: $width-max-mobile) {
      margin-top: 20px;
    }

    @media (min-width: $width-tablet) and (max-width: $width-pre-desktop) {
      margin-top: 30px;
    }
  }
}

.catalogues__title {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  font-family: $font-title;
  font-weight: 400;
  text-transform: uppercase;

  @media (max-width: $width-max-mobile) {
    padding-left: 70px;
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 37px;

    &::before {
      position: absolute;
      left: 2px;
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $basic-green;
    }
  }

  @media (min-width: $width-tablet) {
    grid-column: 1 / 2;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 24px;
  }

  @media (min-width: $width-pre-desktop) {
    padding-left: 162px;
    margin-bottom: 73px;

    &::before {
      position: absolute;
      left: 2px;
      content: "";
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $basic-green;
    }
  }
}

.catalogues__text {
  margin: 0;
  color: $special-grey-700;

  @media (max-width: $width-max-mobile) {
    margin-bottom: 23px;
  }

  @media (min-width: $width-tablet) {
    grid-column: 1 / 2;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 48px;
  }

  @media (min-width: $width-pre-desktop) {
    margin-bottom: 23px;
  }

}

.catalogues__link {
  display: inline-block;
  color: $color-black;
  font-family: $font-title;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: $width-max-mobile) {
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid $special-grey-200;
    font-size: 16px;
    line-height: 1;
  }

  @media (min-width: $width-tablet) {
    grid-column: 1 / 2;
    font-size: 20px;
    line-height: 30px;
  }
}
