.catalogues__wrapper {
  @media (min-width: $width-pre-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px 80px;
  }
}

.catalogues__item {
  background-color: $basic-grey;

  @media (max-width: $width-max-mobile) {
    padding: 30px 20px 18px 20px;
  }

  @media (min-width: $width-tablet) {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 316px;
    padding: 77px 0 53px 52px;
  }

  @media (min-width: $width-pre-desktop) {
    display: initial;
    position: initial;
    padding: 77px 52px 55px 52px;
  }

  // Отступы между каточками

  & + & {
    @media (max-width: $width-max-mobile) {
      margin-top: 20px;
    }

    @media (min-width: $width-tablet) and (max-width: $width-pre-desktop) {
      margin-top: 30px;
    }
  }

  // Позиционирую зеленый круг и лого котов относительно всей карточки

  // Для данных правил устанавливаю диапазон сторго для планшета и минус 1px до срабатывания десктопных, иначе "планшетные" эелементы в "течение" первого десктопного пикселя пересекаются вместе с "десктопными" отчего получаются взаимные накладки.

  &::before {
    @media (min-width: $width-tablet) and (max-width: calc($width-pre-desktop - 1px)) {
      position: absolute;
      top: 92px;
      right: 62px;
      content: "";
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $basic-green;
    }
  }

  // Позиционируем логотипы на зеленые круги.

  &::after {
    @media (min-width: $width-tablet) and (max-width: calc($width-pre-desktop - 1px)) {
      position: absolute;
      content: "";
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &--thin::after {
    @media (min-width: $width-tablet) and (max-width: calc($width-pre-desktop - 1px)) {
      background-image: url("../img/icons/ico-cat-slim.svg");
      right: 91px;
      top: 81px;
      width: 140px;
      height: 194px;
    }
  }

  &--fat::after {
    @media (min-width: $width-tablet) and (max-width: calc($width-pre-desktop - 1px)) {
      background-image: url("../img/icons/ico-cat-pro.svg");
      right: 27px;
      top: 135px;
      width: 268px;
      height: 112px;
    }
  }
}

.catalogues__title {
  position: relative;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  @media (max-width: $width-max-mobile) {
    padding-left: 70px;
    margin-bottom: 29px;
    font-size: 24px;
    line-height: 37px;
  }

  @media (min-width: $width-tablet) {
    grid-column: 1 / 2;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 24px;
  }

  @media (min-width: $width-pre-desktop) {
    padding-left: 162px;
    margin-bottom: 73px;
  }

  // Зеленый круг к заголовку каталогов питания

  &::before {
    position: absolute;
    left: 2px;
    content: "";
    border-radius: 50%;
    background-color: $basic-green;

    @media (max-width: $width-max-mobile) {
      width: 50px;
      height: 50px;
    }

    @media (min-width: $width-pre-desktop) {
      width: 100px;
      height: 100px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
  }

  // Размещение иконок на фоне зеленого круга

  .catalogues__item--thin &::after {
    background-image: url("../img/icons/ico-cat-slim.svg");

    @media (max-width: $width-max-mobile) {
      left: 9px;
      top: calc(50% - 27px);
      width: 36px;
      height: 50px;
    }

    @media (min-width: $width-pre-desktop) {
      left: 18px;
      top: calc(50% - 56px);
      width: 70px;
      height: 97px;
    }
  }

  .catalogues__item--fat &::after {
    background-image: url("../img/icons/ico-cat-pro.svg");

    @media (max-width: $width-max-mobile) {
      left: -7px;
      top: calc(50% - 15px);
      width: 67px;
      height: 28px;
    }

    @media (min-width: $width-pre-desktop) {
      left: -18px;
      top: calc(50% - 28px);
      width: 134px;
      height: 56px;
    }
  }
}

.catalogues__text {
  margin: 0;
  color: $special-grey-700;

  @media (max-width: $width-max-mobile) {
    margin-bottom: 15px;
    padding-bottom: 23px;
    border-bottom: 1px solid $special-grey-200;
  }

  @media (min-width: $width-tablet) {
    grid-column: 1 / 2;
    margin-bottom: 48px;
    border-bottom: none;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $width-pre-desktop) {
    margin-bottom: 23px;
  }
}

.catalogues__link {
  position: relative;
  display: inline-block;
  margin-left: -8px;
  padding: 4px 47px 4px 8px;
  color: $color-black;
  font-family: $font-title;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: $width-max-mobile) {
    font-size: 16px;
    line-height: 1;
  }

  @media (min-width: $width-tablet) {
    grid-column: 1 / 2;
    // При праншетном вьюпорте ссылка становится грид-ячейкой, - ужимаем до размера контента
    width: fit-content;
    padding-right: 57px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $width-pre-desktop) {
    padding-right: 60px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 12px;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: url("../img/icons/ico-arrow.svg") no-repeat center;
  }

  &:hover::after {
    // Задаем ширину под новую длину стрелки и устанавливаем нулевой right,
    // чтобы иконка могла "расшириться" вправо (иначе – влево).
    width: 32px;
    right: 0;
    background: url("../img/icons/ico-arrow-active.svg") no-repeat center;
  }

  &:active {
    opacity: 0.3;
  }
}
