.contacts {
  background-color: $color-white;

  &--no-fill {
    background-color: transparent;
  }
}

.contacts__inner-address {
  @media (min-width: $width-pre-desktop) {
    position: relative;
  }
}

.contacts__inner-map {
  background-image: url("../../img/index/map.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (max-width: $width-max-mobile) {
    height: 362px;
  }

  @media (min-width: $width-tablet) {
    height: 400px;
  }
}

.contacts__map {
  display: block;
  width: 100%;

  @media (max-width: $width-max-mobile) {
    height: 362px;
  }

  @media (min-width: $width-tablet) {
    height: 400px;
  }
}

.contacts__address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  font-style: normal;

  @media (max-width: $width-max-mobile) {
    padding: 26px 0;
  }

  @media (min-width: $width-tablet) {
    padding: 59px $width-tablet-padding-inner;
    grid-template-columns: 175px 175px;
    justify-content: space-between;
  }

  @media (min-width: $width-pre-desktop) {
    position: absolute;
    left: 0;
    top: 95px;
    width: 565px;
    grid-template-columns: 1fr 1fr;
    column-gap: 94px;
    background-color: $color-white;
  }

  @media (min-width: $width-pre-desktop) {
    padding: 60px 80px;
  }
}

.contacts__title {
  margin: 0;
  color: $special-grey-900;
  font-family: $font-title;
  text-transform: uppercase;
  word-break: break-word;

  @media (max-width: $width-max-mobile) {
    font-size: 16px;
    line-height: 20px;
    padding-right: 12px;
  }

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  margin: 0;
  line-height: 20px;
  color: $special-grey-700;
  word-break: break-word;

  @media (min-width: $width-tablet) {
    margin-top: -2px;
    font-size: 16px;
    text-align: right;
    // Реализация отступа между span-элементами адреса
    display: flex;
    flex-direction: column;
    gap: 19px;
  }

  @media (min-width: $width-pre-desktop) {
    margin: 0;
    text-align: left;
  }
}
