.field {
  display: flex;
  gap: 13px;
  align-items: center;
  color: $special-grey-700;
  font-family: $font-title;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.field__input {
  flex-grow: 1;
  border: 0;
  outline: 1px solid $special-grey-150;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;

  &:focus-visible {
    outline: 2px solid $special-grey-700;
  }

  @media (max-width: $width-max-mobile) {
    padding: 13px 15px 14px;
  }
}

.field__input--comments {

  @media (max-width: $width-max-mobile) {
    padding: 9px 14px;
  }

  @media (min-width: $width-tablet) {}

  @media (min-width: $width-pre-desktop ) {}

}
