.fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fieldset__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (max-width: $width-max-mobile) {
    margin-bottom: 35px;
  }

  &--to-block {
    // Заголовок подраздела "Комментарий" обернут в <label>.
    // Преобразуем его в блочный, чтобы работали отступы.
    display: block;
  }
}
