.field {
  color: $special-grey-700;
  font-family: $font-title;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.field__input {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
}
