.form {
  @media (max-width: $width-max-mobile) {
    padding: 0 20px 32px;

  }
}

.form__fields {

  .form__button {
    @media (max-width: $width-max-mobile) {
      width: 100%;
      padding: 10px 20px;
      margin: 34px 0 21px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .form__notice {
    margin: 0;
    line-height: 16px;

    @media (max-width: $width-max-mobile) {
      text-align: center;
    }
  }
}
