.form {
  // @media (max-width: $width-max-mobile) {
  //   padding: 0 20px 32px;
  // }
}

.form__fieldset-wrapper {
  display: grid;
  margin-bottom: 24px;

  @media (max-width: $width-max-mobile) {
    row-gap: 27px;
  }
}

.form__fieldset {
  // ? Не срабатывает на обертку fieldset - legend
  display: grid;
  row-gap: 35px;
  margin: 0;
  margin-bottom: 35px;

  @include outline(violet, 1px, dashed)
}

// Каждый блок имеет разные отступы

// Информация о коте
.form__fieldset--about {
  @media (max-width: $width-max-mobile) {}

  @media (min-width: $width-tablet) {}

  @media (min-width: $width-pre-desktop) {}
}

// Цель программы
.form__fieldset--target {
  @media (max-width: $width-max-mobile) {
    padding: 22px 0 19px;
    border-top: 1px solid $special-grey-200;
    border-bottom: 1px solid $special-grey-200;
  }

  @media (min-width: $width-tablet) {
    margin: 0 auto;
    border: 0;

    .fieldset__list {
      padding: 25px 28px;
      border: 1px solid $special-grey-200;
    }
  }
}

// Контактные данные (владельца кота)
.form__fieldset--contacts {
  @media (max-width: $width-max-mobile) {
    margin-bottom: 23px;
  }

  @media (min-width: $width-tablet) {}

  @media (min-width: $width-pre-desktop) {}

}

// Коментарий
.form__fieldset--comments {
  @media (max-width: $width-max-mobile) {
    margin-bottom: 23px;
  }

  @media (min-width: $width-tablet) {}

  @media (min-width: $width-pre-desktop) {}
}

// Дополнительно
.form__fieldset--more {
  @media (max-width: $width-max-mobile) {}

  @media (min-width: $width-tablet) {}

  @media (min-width: $width-pre-desktop) {}
}

// Обертка кнопки
.form__button-wrapper {
  display: grid;
  margin-top: 34px;

  @media (max-width: $width-max-mobile) {
    grid-auto-flow: row;
    row-gap: 21px;
  }
}

// Отправить заявку
.form__button {
  @media (max-width: $width-max-mobile) {
    justify-self: center;
    width: $width-mobile-content;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
  }
}

.form__notice {
  margin: 0;
  line-height: 16px;

  @media (max-width: $width-max-mobile) {
    justify-self: center;
  }
}
