.functional__list {
  display: grid;
  margin: 0;
  padding: 0;
  color: $special-grey-700;
  list-style-type: none;
  counter-reset: item;

  @media (max-width: $width-max-mobile) {
    row-gap: 22px;
  }

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 31px 60px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $width-pre-desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px  80px;
  }
}

.functional__item {
  position: relative;
  display: grid;
  word-break: break-word;

  @media (max-width: $width-max-mobile) {
    grid-template-columns: 60px 1fr;
    column-gap: 20px;
  }

  @media (min-width: $width-tablet) {
    grid-template-rows: 80px 1fr;
    row-gap: 31px;
    min-height: 286px;
    padding-right: 79px;
  }

  @media (min-width: $width-pre-desktop) {
    min-height: 240px;
    padding-right: 0;
  }

  &::before {
    content: "";
    background: $basic-green no-repeat center;

    @media (max-width: $width-max-mobile) {
      width: 60px;
      height: 60px;
      margin-top: -2px;
    }

    @media (min-width: $width-tablet) {
      width: 80px;
      height: 80px;
    }
  }


  &::after {
    @media (min-width: $width-tablet) {
      position: absolute;
      z-index: -1;
      top: -37px;
      right: 79px;
      counter-increment: item;
      content: counter(item);
      font-family: $font-title;
      font-size: 280px;
      line-height: 1;
      text-align: right;
      color: $basic-grey;
    }

    @media (min-width: $width-pre-desktop) {
      right: 0;
    }
  }

  &--nutrient::before {
    background-image: url("../img/icons/ico-leaf.svg");
  }

  &--powder::before {
    background-image: url("../img/icons/ico-tub.svg");
  }

  &--diet::before {
    background-image: url("../img/icons/ico-eat.svg");
  }

  &--result::before {
    background-image: url("../img/icons/ico-alarm.svg");
  }
}

.functional__title {
  @media (max-width: $width-max-mobile) {
    margin-bottom: 40px;
    font-size: 36px;
    line-height: 40px;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 72px;
    font-size: 60px;
  }
}
