.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo__name {
  margin: 0 auto;
}

// todo Тимчасовий бордер

.page-header__logo.logo {
  @media (min-width: $width-tablet) {
    outline: 1px dashed #d3d3d3;
  }
}
