.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover:link {
    opacity: 0.8;
  }

  &:active:link {
    opacity: 0.6;
  }
}

.logo__name {
  margin: 0 auto;
}

// todo Тимчасово!

.logo__image--mobile {
  @media (min-width: $width-tablet) {
    visibility: hidden;
  }
}

.page-header__logo.logo {
  @media (min-width: $width-tablet) {
    outline: 1px dotted $special-grey-250;
  }
}
