.logo {
  display: grid;
  grid-template-columns: 34px 1fr;
  align-items: center;
  text-decoration: none;

  @media (min-width: $width-tablet) {
    grid-template-columns: auto auto;
    column-gap: 12px;
  }

  &:hover:link {
    opacity: 0.8;
  }

  &:active:link {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;

  @media (min-width: $width-tablet) {
    width: 61px;
    height: auto;
  }

  @media (min-width: $width-pre-desktop) {
    width: 71px;
    height: auto;
  }
}

.logo__name {
  display: block;

  &--header {
    @media (max-width: $width-max-mobile) {
      margin: 0 auto;
    }

    @media (min-width: $width-tablet) {
      width: 101px;
      height: auto;
      // Немного выравниваем текст логотипа по базовой линии главного меню
      margin-bottom: -6px;
    }

    @media (min-width: $width-pre-desktop) {
      width: 117px;
      height: auto;
    }
  }
}

// todo Тимчасово!

// .page-header__logo.logo {
//   @media (min-width: $width-tablet) {
//     outline: 1px dotted $special-grey-250;
//   }
// }
