.page-footer {
  background-color: $basic-grey;
}

.page-footer__logo {
  padding: 39px 0 32px 0;
}

.page-footer__social {
  margin: 0;
  padding: 20px 0;
}

.page-footer__academy {
  padding: 22px 0;
}
