.page-main__title {
  margin: 0;
  font-family: $font-title;
  font-weight: 400;
  line-height: 1;

  @media (max-width: $width-max-mobile) {
    font-size: 36px;
    margin-bottom: 40px;
  }

  @media (min-width: $width-tablet) {
    grid-column: 1 / -1;
    font-size: 60px;
  }
}

.page-main__header {
  @media (max-width: $width-max-mobile) {
    margin-bottom: 20px;
  }

  @media (min-width: $width-pre-desktop) {
    margin-bottom: 82px;
  }
}

.page-main__section {

  /// Отступы под (между) секциями в мобильной версии
  @media (max-width: $width-max-mobile) {
    &.catalogues {
      margin-bottom: 20px;
    }

    &.functional {
      margin-bottom: 49px;
    }
  }

  /// Отступы под (между) секциями в планшетной версии
  @media (min-width: $width-tablet) {
    &.catalogues {
      margin-bottom: 45px;
    }

    &.functional {
      margin-bottom: 43px;
    }
  }

  /// Отступы под (между) секциями в десктопной версии
  @media (min-width: $width-pre-desktop) {
    &.catalogues {
      margin-bottom: 71px;
    }

    &.functional {
      margin-bottom: 26px;
    }
  }
}

.page-main__subtitle {
  font-family: $font-title;
  text-transform: uppercase;
}
