.page-header__nav {
  @media (min-width: $width-tablet) {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    width: $width-tablet-content;
    margin: 0 auto;
    padding: 25px 0;
  }

  @media (min-width: $width-pre-desktop) {
    width: $width-desktop-content;
    padding: 54px 0 25px;
  }

  &--index {
    @media (min-width: $width-pre-desktop) {
      grid-template-columns: auto 50%;
      justify-content: space-between;
    }
  }
}

.page-header__nav--decorate {
  @media (max-width: $width-max-mobile) {
    border-bottom: 1px solid $special-grey-150;
  }
}

.page-header__bar {
  @media (max-width: $width-max-mobile) {
    display: grid;
    grid-template-columns: 1fr 34px;
    width: 320px;
    margin: 0 auto;
    padding: 12px 20px 15px;
    align-items: center;
  }
}

.page-header__menu {
  margin: 0;
  padding: 0;

  @media (min-width: $width-tablet) {
    margin-right: -17px;
  }
}


/// Кнопка закрытия мобильного главного меню

.page-header__toggler {
  grid-column: -2;
  justify-self: right;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  background-color: transparent;

  @media (min-width: $width-tablet) {
    display: none;
  }

  &:hover {
    cursor: pointer;
  }
}

/// Иконка закрытия меню [X]

.page-header__toggler--open {
  margin-right: -5px;

  &::before,
  &::after {
    position: absolute;
    top: 18%;
    width: 1.5px;
    height: 24px;
    content: "";
    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__toggler--closed {
  margin-right: -5px;

  &::before {
    position: absolute;
    top: 25%;
    right: 5px;
    width: 24px;
    height: 2px;
    content: "";
    background-color: $color-black;
    box-shadow: 0 8px 0 $color-black, 0 16px 0 0 $color-black;
  }
}
