.page-footer {
  background-color: $basic-grey;
}

.page-footer__inner {
  @media (min-width: $width-tablet) {
    padding: 53px 0 45px;
    display: grid;
    grid-template-columns: 192px 1fr 192px;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $width-pre-desktop) {
    padding: 57px 0 58px;
  }
}

.page-footer__logo {
  justify-content: left;
  @media (max-width: $width-max-mobile) {
    padding: 39px 0 32px 0;
  }
}

.page-footer__social {
  margin: 0;
  padding: 0;
}

.page-footer__academy {
  @media (max-width: $width-max-mobile) {
    padding: 22px 0;
  }
}
