.page {
  min-width: 320px;
  height: 100%;
  font-family: $font-body;
  font-size: 14px;
  line-height: 18px;
}

.page__body {
  margin: 0;
}

.page__title {
  margin: 0;
  font-family: $font-title;
  font-weight: 400;
  line-height: 1;
  word-break: break-word;

  @media (max-width: $width-max-mobile) {
    font-size: 36px;
  }

  @media (min-width: $width-tablet) {
    font-size: 60px;
  }
}

.page__lead {
  margin: 0;
  font-family: $font-title;
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    font-size: 20px;
  }
}

.page__subtitle {
  font-family: $font-title;
  font-weight: 400;
  line-height: 1;
  margin: 0 auto;

  @media (max-width: $width-max-mobile) {
    font-size: 24px;
    line-height: 26px;
  }

  @media (min-width: $width-tablet) {
    font-size: 36px;
    line-height: 1;
    padding-left: $width-tablet-padding-inner;
  }

  @media (min-width: $width-pre-desktop) {
    padding: 0;
  }
}

// Разделитель между секциями - зеленая линия под заголовком

.page__divider {
  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 17px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $basic-green;

    @media (min-width: $width-tablet) {
      top: 22px;
    }
  }
}

// Название секции обернуто в span

.page__divider-item {
  display: inline-block;
  background-color: $color-white;

  @media (max-width: $width-max-mobile) {
    padding: 0 20px;
    margin: 0 -20px;
  }

  @media (min-width: $width-tablet) {
    padding: 0 41px;
    margin: 0 -41px;
  }

  @media (min-width: $width-pre-desktop) {
    padding: 0 40px;
    margin: 0 -40px;
  }

  // todo Подслушано в Академии, но не знаю насколько применимо в реальной практике!
  // Дабы решить проблему отображения 2-х и более строчного подзаголовка
  // в разных вьюпортах – скрываем переносы строк когда это необходимо.

  & br {
    @media (min-width: $width-tablet) {
      display: none;
    }
  }
}
