.page-form {
  @media (max-width: $width-max-mobile) {
    padding-bottom: 32px;
  }

  @media (min-width: $width-tablet) {
    padding-bottom: 72px;
  }

  @media (min-width: $width-pre-desktop) {
    padding-bottom: 82px;
  }
}

.page-form__header {
  @media (max-width: $width-max-mobile) {
    padding: 27px 0 39px;
  }

  @media (min-width: $width-tablet) {
    padding: 33px $width-tablet-padding-inner 65px;
  }

  @media (min-width: $width-pre-desktop) {
    padding: 43px 0 65px;
  }
}

.page-form__title {
  @media (max-width: $width-max-mobile) {
    margin-bottom: 37px;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 54px;
  }

  @media (min-width: $width-pre-desktop) {
    margin-bottom: 56px;
  }
}

.page-form__lead {
  @media (max-width: $width-max-mobile) {
    width: 230px;
    line-height: 18px;
  }

  @media (min-width: $width-tablet) {
    width: 325px;
    line-height: 30px;
  }
}
