.page-catalog {
  @media (max-width: $width-max-mobile) {
    padding-bottom: 35px;
  }

  @media (min-width: $width-tablet) {
    padding-bottom: 76px;
  }

  @media (min-width: $width-pre-desktop) {
    padding-bottom: 86px;
  }
}

.page-catalog__header {
  @media (max-width: $width-max-mobile) {
    padding: 27px 0 41px;
  }

  @media (min-width: $width-tablet) {
    padding: 33px 0 82px;
  }

  @media (min-width: $width-pre-desktop) {
    padding: 45px 0 84px;
  }
}

// .page-catalog__title {}

.page-catalog__products {
  @media (max-width: $width-max-mobile) {
    margin-bottom: 22px;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 68px;
  }

  @media (min-width: $width-pre-desktop) {
    margin-bottom: 76px;
  }
}
