.page-main__header {
  @media (max-width: $width-max-mobile) {
    margin-bottom: 20px;
  }

  @media (min-width: $width-pre-desktop) {
    margin-bottom: 82px;
  }
}

.page-main__catalogues {
  @media (max-width: $width-max-mobile) {
    margin-bottom: 20px;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 45px;
  }

  @media (min-width: $width-pre-desktop) {
    margin-bottom: 71px;
  }
}

.page-main__functional {
  @media (max-width: $width-max-mobile) {
    margin-bottom: 49px;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 43px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $width-pre-desktop) {
    margin-bottom: 26px;
    border-bottom: none;
  }
}

.page-main__title {
  @media (max-width: $width-max-mobile) {
    margin-bottom: 40px;
  }

  @media (min-width: $width-tablet) {
    font-size: 60px;
  }
}

.page-main__form-title {
  @media (max-width: $width-max-mobile) {
    margin: 27px 0 37px;
  }

  @media (min-width: $width-tablet) {
    font-size: 60px;
  }
}

.page-main__subtitle {
  font-family: $font-title;
  text-transform: uppercase;
}
