.products__list {
  display: grid;
  row-gap: 11px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  @media (min-width: $width-tablet) {
    width: $width-tablet-content;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $width-pre-desktop) {
    width: $width-desktop-content;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 63px;
  }
}

.products__item {
  display: block;

  @media (max-width: $width-max-mobile) {
    padding: 19px 0 14px;
    border-top: 1px solid $special-grey-100;
  }

  @media (min-width: $width-tablet) {
    padding: 0;
    // todo Временно!?
    min-height: 511px;
    background-image: linear-gradient(to bottom, $color-white 81px, $basic-grey 81px);
  }
}

.products__item--more {
  @media (max-width: $width-max-mobile) {
    padding: 25px 0;
    border-bottom: 1px solid $special-grey-100;
  }

  @media (min-width: $width-tablet) {
    padding-top: 81px;
    background-image: initial;
  }
}
