.progress {
  margin-bottom: 49px;
}

.progress__list {
  margin: 0;
  padding: 0;
  color: $special-grey-700;
  list-style-type: none;
}

.progress__item {
  @media (max-width: $width-mobile-max) {
    display: grid;
    grid-template-columns: 60px 1fr;
    column-gap: 20px;

    & + & {
      margin-top: 20px;
    }
  }
}

.progress__item::before {
  content: " ";
  width: 60px;
  height: 60px;
  margin-top: -2px;
  background-color: $basic-green;
}
