.progress {
  padding: 0 20px 50px 20px;
}
.progress__list {
  margin: 0;
  padding: 0;
  color: $special-grey-700;
  list-style-type: none;
}

.progress__item:not(:last-of-type) {
  margin-bottom: 20px;
}
