.progress__wrapper {
  @media (min-width: $width-tablet) {
    .page-main__title {
      margin-bottom: 72px;
    }
  }
}

.progress__list {
  margin: 0;
  padding: 0;
  color: $special-grey-700;
  list-style-type: none;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.progress__item {
  @media (max-width: $width-max-mobile) {
    display: grid;
    grid-template-columns: 60px 1fr;
    column-gap: 20px;

    &+& {
      margin-top: 20px;
    }
  }
}

.progress__item::before {
  content: " ";
  width: 60px;
  height: 60px;
  margin-top: -2px;
  background-color: $basic-green;
}
