.promo__wrapper {
  padding: 27px 20px;
  color: $color-white;
  text-align: center;

  background: {
    image: url("../../img/backtile/promo.jpg");
    size: cover;
    repeat: no-repeat;
    position: center;
    color: $basic-green;
  }
}

.promo__title {
  font: {
    family: $font-title;
    size: 36px;
    weight: 400;
  }

  line-height: 1;
}

.promo__subtitle {
  font: {
    family: $font-title;
    size: 14px;
    weight: 400;
  }

  line-height: 1;
  text-transform: uppercase;
}
