.promo {
  color: $color-white;
  text-align: center;

  background: {
    image: url("../../img/backtile/promo-small.jpg"),
      linear-gradient($basic-green, $basic-green 302px, $color-white 302px);
    repeat: no-repeat;
    position: 50% 0;
  }
}

.promo__title {
  margin: 0;
  margin-bottom: 25px;

  font: {
    family: $font-title;
    size: 36px;
    weight: 400;
  }

  line-height: 1;
}

.promo__subtitle {
  margin: 0;
  margin-bottom: 29px;

  font: {
    family: $font-title;
    size: 14px;
    weight: 400;
  }

  line-height: 1;
  text-transform: uppercase;
}

.promo__button {
  width: 100%;
  padding: 11px 20px;
}
