.select {
  display: flex;
  gap: 16px;
  align-items: center;
  font-family: $font-title;
  text-transform: uppercase;

  @media (max-width: $width-max-mobile) {
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  &--radio {
    color: $special-grey-800;
  }
}

.select__input {
  margin: 0;
}

