.site-menu {
  font-family: $font-title;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  list-style-type: none;

  @media (max-width: $width-max-mobile) {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: $width-mobile;
    width: 100%;
    background-color: $color-white;
    border-top: 1px solid $special-grey-150;
  }

  @media (min-width: $width-tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    justify-self: flex-end;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  @media (min-width: $width-pre-desktop) {
    font-size: 20px;
    line-height: 30px;
  }

  &--open {
    @media (max-width: $width-max-mobile) {
      display: block;
    }
  }

  &--nojs {
    @media (max-width: $width-max-mobile) {
      display: block;
      position: initial;
    }
  }
}

.site-menu__item {
  border-bottom: 1px solid $special-grey-150;

  @media (min-width: $width-tablet) {
    border: 0;
  }
}

.site-menu__link {
  position: relative;
  display: block;
  padding: 22px 22px 24px;
  color: $color-black;
  text-decoration: none;

  @media (min-width: $width-tablet) {
    padding: 17px;
  }

  @media (min-width: $width-pre-desktop) {
    // padding: 15px 0;
  }

  .site-menu--index & {
    @media (min-width: $width-pre-desktop) {
      color: $color-white;
    }
  }

  &:link:hover {
    opacity: 0.6;
  }

  &:link:active {
    opacity: 0.3;
  }

  &:not(:link) {
    @media (max-width: $width-max-mobile) {
      color: rgba($color-black, 0.3);
    }
  }

  // Подчеркивание активного пункта меню
  &:not(:link)::after {
    @media (min-width: $width-tablet) {
      position: absolute;
      content: "";
      width: calc(100% - 34px);
      height: 2px;
      left: 17px;
      bottom: 8px;
      background-color: $basic-green;
    }
  }

  // Модификация подчеркивания на index-странице в десктопе
  .site-menu--index &:not(:link)::after {
    @media (min-width: $width-pre-desktop) {
      background-color: $color-white;
    }
  }
}
