// Ссылки социальных сетей

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 33px;
  list-style: none;

  @media (max-width: $width-max-mobile) {
    border-top: 1px solid $special-grey-200;
    border-bottom: 1px solid $special-grey-200;
  }
}

//todo Тимчасово!

.social__link {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  outline: 1px dotted $special-grey-250;
  outline-offset: 1px;
}
