// Ссылки социальных сетей

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 33px;
  list-style: none;

  @media (max-width: $width-max-mobile) {
    border-top: 1px solid $special-grey-200;
    border-bottom: 1px solid $special-grey-200;
  }
}

.social__link {
  //todo Временно!
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: $special-grey-200;
}
