// Ссылки социальных сетей

.social {
  display: flex;
  justify-content: center;
  // column-gap: 33px;
  list-style: none;

  @media (max-width: $width-max-mobile) {
    border-top: 1px solid $special-grey-200;
    border-bottom: 1px solid $special-grey-200;
  }
}

.social__item {
  // Ccылки в пункте списка становятся флекс-элементами и растягиваются на всю высоту пункта
  // outline: 1px dotted aquamarine;
  display: flex;
}

.social__link {
  color: $special-grey-600;
  // svg-логотипы внутри ссылок становятся флекс-элементами; обнуляется line-height; центрируются вертикально по всей высоте ссылки.
  // background-color: ivory;
  display: flex;
  align-items: center;

  @media (max-width: $width-max-mobile) {
    padding: 21px 19px;
  }

  @media (min-width: $width-tablet) {

    padding: 14px 14px;

    &--vkontakte svg {
      width: auto;
      height: 17px;
    }

    &--instagram svg {
      width: auto;
      height: 23px;
    }

    &--facebook svg {
      width: auto;
      height: 29px;
    }
  }

  &:hover {
    color: $basic-green;
  }

  &:active {
    color: rgba($basic-green, 0.3);
  }
}

//todo Тимчасово!

// .social__link {
//   display: inline-block;
//   outline: 1px dotted $special-grey-250;
//   outline-offset: 1px;
// }
