.switcher {
  display: grid;
  column-gap: 13px;

  @media (max-width: $width-max-mobile) {
    grid-template-columns: 49px 1fr 49px;
  }

  @media (min-width: $width-tablet) {
    grid-template-columns: 70px 1fr 70px;
  }

  &::before {
    @media (max-width: $width-max-mobile) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      align-self: center;
      width: 100%;
      height: 14px;
      content: "";
      background-color: $color-white;
      border: 1px solid $special-grey-250;
      border-radius: 6px;
      padding: 0 6px;
    }
  }

  &::after {
    @media (max-width: $width-max-mobile) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      align-self: center;
      content: "";
      width: calc(50% - 6px);
      height: 6px;
      margin: 0 6px;
      border-radius: 6px;
      background-color: $basic-green;
      // Почему то не работает :( оставляю как есть
      //* P.S. А не работает потому, что на justify-self
      //* действие transition не распространяется!
      justify-self: start;
      transition: justify-self 0.5s ease;
    }
  }

  &--after::after {
    @media (max-width: $width-max-mobile) {
      justify-self: end;
    }
  }
}

.switcher__button {
  padding: 5px 0;
  border: none;
  background-color: transparent;
  font-family: $font-title;
  text-transform: uppercase;

  @media (max-width: $width-max-mobile) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover {
    cursor: pointer;
  }

  // Компенсация вертикального сдвига строки из-за отключения нижнего бордера
  &:active {
    margin-top: -1px;
  }

  &--before {
    grid-column: 1 / 2;
  }

  &--after {
    grid-column: 3 / 4;
  }

  // Вкладываю внутренний контейнер в button, чтобы оформить для текста
  // нижний бордер строго на ширину текста, а не на всю ширину кнопки.

  &--inner {
    display: inline-block;

    @media (min-width: $width-tablet) {
      border-bottom: 1px dotted rgba($color-black, 0.25);

      .switcher__button:hover & {
        border-bottom: 1px solid rgba($color-black, 0.4);
      }

      .switcher__button:active & {
        border-bottom: none;
      }
    }
  }
}

// СТИЛИЗАЦИЯ ПОЛЗУНКА RANGE

// Для браузеров webkit (google chrome, chromium) используются псевдоселекторы

// ::-webkit-slider-runnable-track
// ::-webkit-slider-thumb

// а для mozilla firefox

// ::-moz-range-track
// ::-moz-range-thumb

// Где:
// -track - полоса ползунка
// -thumb – элемент ползунка

.switcher__range {
  display: none;
  appearance: none;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: transparent;

  @media (min-width: $width-tablet) {
    display: block;
  }

  &:hover {
    cursor: pointer;
  }
}

// Стилизация ползунка

.switcher__range::-moz-range-track {
  height: 6px;
  background-color: $special-grey-175;
  border-radius: 6px;
}

// Если объединить два селектора через "," то правило для -webkit не срабатывает.
.switcher__range::-webkit-slider-runnable-track {
  height: 6px;
  background-color: $special-grey-175;
  border-radius: 6px;
}

// Стилизация кнопки

.switcher__range::-webkit-slider-thumb {
  position: relative;
  appearance: none;
  margin-top: -15px;
  width: 34px;
  height: 34px;
  //Стилизация кнопки range-трекера
  border: 12px solid $color-white;
  border-radius: 50%;
  background-color: $basic-green;
  box-shadow:
    0 0 0 1px $special-grey-250, // Обводка кнопки
    0 1px 3px rgba($color-black, 0.16); // Тень кнопки

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: $basic-green;
    border-radius: 50%;
  }

  &:hover {
    box-shadow:
      0 0 0 1px $special-grey-250,
      0 2px 4px rgba($color-black, 0.19);
  }

  &:active {
    box-shadow:
      0 0 0 1px $basic-green,
      0 3px 5px rgba($color-black, 0.2);
  }
}

.switcher__range::-moz-range-thumb {
  position: relative;
  box-sizing: border-box;
  width: 34px;
  height: 34px;
  //Стилизация кнопки range-трекера
  border: 12px solid $color-white;
  border-radius: 50%;
  background-color: $basic-green;
  box-shadow:
    0 0 0 1px $special-grey-250, // Обводка кнопки
    0 1px 3px rgba($color-black, 0.16); // Тень кнопки

  &::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background-color: $basic-green;
    border-radius: 50%;
  }

  &:hover {
    box-shadow:
      0 0 0 1px $special-grey-250,
      0 2px 4px rgba($color-black, 0.19);
  }

  &:active {
    box-shadow:
      0 0 0 1px $basic-green,
      0 3px 5px rgba($color-black, 0.2);
  }
}
