.switcher {
  display: grid;
  column-gap: 13px;

  @media (max-width: $width-max-mobile) {
    grid-template-columns: 49px 1fr 49px;
  }

  @media (min-width: $width-tablet) {
    grid-template-columns: 70px 1fr 70px;
  }
}

.switcher__button {
  padding: 5px 0;
  border: none;
  background-color: transparent;
  font-family: $font-title;
  text-transform: uppercase;

  @media (max-width: $width-max-mobile) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.switcher__button--before {
  grid-column: 1 / 2;
}

.switcher__button--after {
  grid-column: 3 / 4;
}
