*,
*::before,
*::after {
  box-sizing: border-box;

  //todo Тестовая обводка
  // outline: (1px solid magenta);
}

img {
  max-width: 100%;
  height: auto;
}

// Disable arrows from input[type="number"]

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//   appearance: none;
// }

// input[type="number"],
// input[type="number"]:hover,
// input[type="number"]:focus {
//   appearance: none;
//   appearance: textfield;
// }


// @media (max-width: $width-max-mobile) {
// }

// @media (min-width: $width-tablet) {
// }

// @media (min-width: $width-pre-desktop) {
// }

// url("data:image/svg+xml;utf8,<svg> … </svg>");
