*,
*::before,
*::after {
  box-sizing: border-box;

  //todo Тестовая обводка
  // outline: (1px solid magenta);
}

img {
  max-width: 100%;
  height: auto;
}

// @media (max-width: $width-max-mobile) {
// }

// @media (min-width: $width-tablet) {
// }

// @media (min-width: $width-pre-desktop) {
// }
