// Шрифты
$font-title: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

// Цвета
$color-black: #000000;
$color-white: #ffffff;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$secondary-green: #5eaa2f;
$special-grey-100: #ebebeb;
$special-grey-200: #cdcdcd;
$special-grey-600: #666666;
$special-grey-700: #444444;
$special-grey-800: #222222;
$special-grey-900: #111111;
